<% if user_signed_in? %>
    <h1>Hi <%= current_user.email %></h1>
<% end %>

<h3>
    <%= @user && @user.id != current_user.id ? "Articles by: #{@user.email}" : "My articles" %>
</h3>    
<%= render @user ? @user.articles : @articles %>
